.slides.show {
  .slide-container {
    margin: 5em auto;
    padding: 0 3em;

    .thumbnail {
      width: 35px;
      height: 35px;
      margin: auto;
    }

    .comment {
      .avatar {
        height: 35px;
      }
    }

    .tag {
      margin-right: 10px;
    }

    #tabs .item {
      &:hover {
        cursor: pointer;
      }
      &.active {
        border-color: #FF7043;
      }
    }
  }

  .slide-page-number {
    font-size: 1.2em;

    &:hover {
      cursor: pointer;
    }
  }
}
