.slides.show {
  .slide-container {
    margin: 5em auto;
    padding: 0 3em;

    .thumbnail {
      width: 35px;
      height: 35px;
      margin: auto;
    }

    .comment {
      .avatar {
        height: 35px;
      }
    }
  }
}
