.slide-viewer-container {
  width: 100%;
  height: auto;
  background: #fff;
  border: 1px solid #333;
  position: relative;
  padding-bottom: 4px;
  max-height: 100%;
  max-width: 100%;

  .slider-pro {
    padding-bottom: 42px;
  }

  .slide-toolbar-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2147483648;

    .slide-progress.ui.tiny.progress {
      margin: 0;
      border-radius: 0;

      .bar {
        border-radius: 0;
      }
    }

    .slide-toolbar {
      margin: 0;
      padding: 0 5px;
      width: 100%;
      min-height: 40px;
      color: #fff;
      display: flex;
      align-items: center;
      background: #323232;
      position: relative;

      .brand-title {
        position: absolute;
        left: 0;
        padding: 0 10px;
      }

      .tool-item {
        border: none;
        background: transparent;
        padding: 10px;

        &.disabled {
          color: #333;

          &:hover {
            cursor: 'not-allowed'
          }
        }
      }

      .slide-pager {
        display: flex;
        align-items: center;
        margin: 0 auto;
      }

      #fullscreen {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 40px;
      }
    }
  }

  /* Full Screen */
  &:-webkit-full-screen, &:-moz-full-screen, &:-ms-fullscreen, &:fullscreen {
    position : absolute ;
    left     : 0 ;
    top      : 0 ;
    width    : 100% ;
    height   : 100% ;

    .slide-toolbar {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-top: 1px solid #323232;
      font-size: 13px;
      margin: -2px 0 0 0;
      max-height: initial;
      min-height: 50px;
    }
  }
}
